body {
  background-image: url('static/molla.jpg');
  color:#000305;
  font-size: 87.5%; /* Base font size of 14px */
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #FCA08D;
}

a:hover, a:active {
  background-color: #FCA08D;
  color: #FFF;
}

.body {
  background-color: #FAFAFA;
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainheader img {
  display: block;
  width: 40%;
  height: auto;
  margin: 10px auto 10px;
}

.mainheader nav {
  background-color: #FCA08D; /* Nav color */
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
}

.mainheader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainheader nav ul li {
  float: left;
  display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px; /* 마우스 갖다 됬을때 색칠되는 그 창의 heigh */
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
  background-color: #FCA08D;
  text-shadow: none;
}

.mainheader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
}

.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
}

.mainContent #stars > span {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
}

.mainContent #stars:hover > span:before {
  content: '\2605';
  position: absolute;
}

.mainContent #stars > span:hover ~ span::before {
  content: '';
}

.mainContent aa {
  font-size: 12px;
}

.content {
  width: 70%;
  float: left;
}

.topcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
  padding: 3% 5%;
  margin-top: 2%;
}

.bottomcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
  padding: 3% 5%;
  margin-top: 2%;
}

.post-info {
  font-style: italic;
  color: #999;
  font-size: 85%;
}

.top-sidebar {
  width: 23%;
  height: 300px;
  text-align: left;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
  padding: 1% 3%;
  margin: 1.5% 0 1% 1%;
}
.top-sidebar span {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.middle-sidebar {
  width: 23%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 2% 3%;
}

.bottom-sidebar {
  width: 23%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
  padding: 2% 3%;
  margin-left: 1%;
  margin-bottom: 2%;
}


.mainFooter {
  width: 100%;
  height: 40px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /*  */
  background-color: #666;
  margin: 2% 0;
}


.mainFooter p{
  width: 92%;
  margin: 10px auto;
  color: #FFF;
}





@media only screen and (min-width:150px) and (max-width:600px)
{
  .body {
    width: 90%;
    font-size: 95%;
  }

  .mainheader img {
    width: 100%;
  }

  .mainheader nav {
    height: 160px;
  }

  .mainheader nav ul {
    padding-left: 0;
  }

  .mainheader nav ul li {
    width: 100%;
    text-align: center;
  }

  .mainheader nav a:link, .mainheader nav a:visited {
    padding: 10px 25px;
    height: 20px; /* 마우스 갖다 됬을때 색칠되는 그 창의 heigh */
    display: block;
  }

  .content {
    width: 100%;
    float: left;
    margin-top: 2%;
  }

  .post-info {
    display: none;
  }

  .topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Mozilla */
    -webkit-border-radius: 5px; /*  */
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 4%;
  }

  .bottomcontent {
    margin-top: 2%;
  }


  .top-sidebar, .middle-sidebar, .bottom-sidebar {
    width: 94%;
    margin: 2% 0 2% 0;
    padding: 2% 3%;
  }
}
